################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UserService/.vs/UserService
/UserService/bin/Debug/netcoreapp3.1
/UserService/obj
/UserService/UserService.csproj.user
/LoggerService/.vs/LoggerService
/LoggerService/bin
/LoggerService/obj
/LoggerService/LoggerService.csproj.user
